:root {
    --bg-color: #121212;
    --primary-color: #1e1e1e;
    --accent-color: #bb86fc;
    --text-color: #ffffff;
    --secondary-text-color: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
}

.task-input button {
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-input button:hover {
    background-color: #9b68e1;
}

ul#taskList {
    list-style: none;
}

li {
    background-color: var(--primary-color);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

li span {
    color: var(--secondary-text-color);
}

li button {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

li button:hover {
    color: #e67ee6;
}
